pkgbase = freeciv
	pkgdesc = A multiuser clone of the famous Microprose game of Civilization (GTK4 client with Rule editor)
	pkgver = 3.1.4
	pkgrel = 1
	url = http://www.freeciv.org/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = python
	depends = bzip2
	depends = cairo
	depends = curl
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = qt6-base
	depends = hicolor-icon-theme
	depends = icu
	depends = libtool
	depends = lua
	depends = pango
	depends = readline
	depends = sdl2_mixer
	depends = sdl2-compat
	depends = sqlite
	depends = xz
	depends = zlib
	depends = zstd
	conflicts = freeciv
	backup = etc/freeciv/database.lua
	source = https://downloads.sourceforge.net/sourceforge/freeciv/freeciv-3.1.4.tar.xz
	sha512sums = 71a4220c3d6cd3771d5f039a50932d0f80f9ca829821d778fe2bc16609110d8ab3b13b9483b3bb0e6860557f68e53d308865139224ae814dc5366e7fcf154a23

pkgname = freeciv-gtk4
